<header class="page-header">
	<div class="page-header-wrapper">
		<div class="container">
			<a href="#" class="page-header-logo">
				<svg width="48" height="47" viewBox="0 0 48 47" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0.158549 15.8005C0.343142 7.12896 7.53032 0.167901 16.3922 0.0775578L24 0L31.6078 0.0775577C40.4697 0.167901 47.6569 7.12896 47.8414 15.8005L48 23.2486L47.838 30.858C47.6548 39.4647 40.5694 46.399 31.7752 46.5783L24 46.7368L16.2248 46.5783C7.43057 46.399 0.345197 39.4647 0.161983 30.858L0 23.2486L0.158549 15.8005Z" fill="#EF5D62"/>
					<path d="M20.7724 13H15V34.7118H20.7724V13Z" fill="white"/>
					<path d="M33.1393 25.3311H23.8594C23.8594 30.4575 28.0283 34.639 33.1393 34.639V25.3311Z" fill="white"/>
					<path d="M23.8789 17.664C23.8789 20.2172 25.9434 22.3079 28.5089 22.3079C31.0543 22.3079 33.1388 20.1971 33.1388 17.6439C33.1388 15.0908 31.0744 13 28.5089 13C25.9434 13 23.8789 15.1109 23.8789 17.664Z" fill="white"/>
				</svg>
			</a>

			<div class="page-header-nav-drop">
				<nav class="nav">
					<ul class="page-header-menu">
						<li class="current-menu-item">
							<a href="#">Item 1</a>
							<ul>
								<li><a href="#">Item 2-1</a></li>
								<li><a href="#">Item 2-2</a></li>
								<li><a href="#">Item 2-3</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Item 2</a>
							<ul>
								<li>
									<a href="#">Item 2-1</a>
									<ul>
										<li>
											<a href="#">Item 3-1</a>
											<ul>
												<li><a href="#">Item 4-1</a></li>
												<li><a href="#">Item 4-2</a></li>
												<li><a href="#">Item 4-3</a></li>
											</ul>
										</li>
										<li><a href="#">Item 3-2</a></li>
										<li><a href="#">Item 3-3</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Item 2-2</a>
									<ul>
										<li><a href="#">Item 2-1</a></li>
										<li><a href="#">Item 2-2</a></li>
										<li><a href="#">Item 2-3</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Item 2-3</a>
									<ul>
										<li><a href="#">Item 2-1</a></li>
										<li><a href="#">Item 2-2</a></li>
										<li><a href="#">Item 2-3</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="_has-mega-menu">
							<a href="#">Mega 3</a>
							<ul class="mega-menu">
								<li>
									<div class="col">
										<h2>Heading 1</h2>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elit velit, ultricies eget porta ac.</p>
										<ul>
											<li><a href="#">Regular link 1</a></li>
											<li><a href="#">Regular link 2</a></li>
										</ul>
									</div>
									<div class="col">
										<h2>Heading 2</h2>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elit velit, ultricies eget porta ac.</p>
										<ul>
											<li><a href="#">Regular link 1</a></li>
											<li><a href="#">Regular link 2</a></li>
										</ul>
									</div>
									<div class="col">
										<h2>Heading 3</h2>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum elit velit, ultricies eget porta ac.</p>
										<ul>
											<li><a href="#">Regular link 1</a></li>
											<li><a href="#">Regular link 2</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">Item 4</a>
							<ul>
								<li><a href="#">Item 2-1</a></li>
								<li>
									<a href="#">Item 2-2</a>
									<ul>
										<li><a href="#">Item 2-1</a></li>
										<li><a href="#">Item 2-2</a></li>
										<li><a href="#">Item 2-3</a></li>
									</ul>
								</li>
								<li><a href="#">Item 2-3</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
			<button class="page-header-nav-opener"><span></span></button>
		</div>
	</div>
</header>
